html, body {
	background-color: gray;
}

.coolDiv {
	position:absolute;
	top:20px;
	left:20px;
	color:white;
	background-color:rgba(50,50,50,.5);
	width:200px;
	height:20px;
	padding:20px;
	-webkit-box-shadow: 0px 0px 5px #444;
	z-index:100;
}