[submodule "addons/ofxKinect"]
	path = addons/ofxKinect
	url = https://github.com/ofTheo/ofxKinect.git
[submodule "addons/ofxOpenNI"]
	path = addons/ofxOpenNI
	url = git@github.com:labatrockwell/ofxOpenNI.git
[submodule "addons/ofxCv"]
	path = addons/ofxCv
	url = https://github.com/kylemcdonald/ofxCv
