//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

// YOU MUST DEFINE THIS VAR! This tells TSPS where to look for its core
// addons (in openframeworks/openTSPS/addons)
TSPS_ADDONS_PATH = ../../addons

// This is always a full path
#include "../../addons/ofxTSPS/TSPS.xcconfig"

//ofxNI2
OFX_NI2_HEADERS  =$(TSPS_ADDONS_PATH)/ofxNI2/libs/OpenNI2/include
OFX_NI2_LIBS     = $(TSPS_ADDONS_PATH)/ofxNI2/libs/OpenNI2/lib/osx/libOpenNI2.dylib

// You must add "TSPS_ADDON_HEADERS" and "TSPS_ADDON_LIBS" here
// to include all of TSPS' dependencies
HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(TSPS_ADDON_HEADERS)
OTHER_LDFLAGS = $(OF_CORE_LIBS) $(TSPS_ADDON_LIBS) $(OFX_OPENNI_LIBS)