//THE PATH TO THE ROOT OF OUR OF PATH RELATIVE TO THIS PROJECT.
//THIS NEEDS TO BE DEFINED BEFORE CoreOF.xcconfig IS INCLUDED
OF_PATH = ../../..

//THIS HAS ALL THE HEADER AND LIBS FOR OF CORE
#include "../../../libs/openFrameworksCompiled/project/osx/CoreOF.xcconfig"

// core addons
ADDONS_PATH         = $(OF_PATH)/addons

//ofxOpenCV
OFX_OPENCV_HEADERS  = $(ADDONS_PATH)/ofxOpenCv/libs/opencv/include/

//ofxOsc
OFX_OSC_INC         = $(ADDONS_PATH)/ofxOsc/libs  $(ADDONS_PATH)/ofxOsc/libs/oscpack  $(ADDONS_PATH)/ofxOsc/libs/oscpack/src  $(ADDONS_PATH)/ofxOsc/libs/oscpack/src/ip  $(ADDONS_PATH)/ofxOsc/libs/oscpack/src/ip/posix  $(ADDONS_PATH)/ofxOsc/libs/oscpack/src/osc  $(ADDONS_PATH)/ofxOsc/src

// TSPS addons
TSPS_ADDONS_PATH    = ../../addons

//ofxTSPS
OFX_TSPS_INC        = $(TSPS_ADDONS_PATH)/ofxTSPS/libs/ofxTSPS/include

//ofxCv
OFX_CV_INC          = $(ADDONS_PATH)/ofxOpenCv/libs/opencv/include/ $(TSPS_ADDONS_PATH)/ofxCv/libs/ofxCv/include/

//ofxLibwebsockets
LIB_SSL             = $(TSPS_ADDONS_PATH)/ofxLibwebsockets/libs/openssl/lib/osx/libssl.a
LIB_CRYPTO          = $(TSPS_ADDONS_PATH)/ofxLibwebsockets/libs/openssl/lib/osx/libcrypto.a
SSL_INC             = $(TSPS_ADDONS_PATH)/ofxLibwebsockets/libs/openssl/
LWS                 = $(TSPS_ADDONS_PATH)/ofxLibwebsockets/libs/libwebsockets/lib/osx/libwebsockets.a
LWS_INC             = $(TSPS_ADDONS_PATH)/ofxLibwebsockets/libs/libwebsockets/include
OFX_LWS_INCLUDE     = $(TSPS_ADDONS_PATH)/ofxLibwebsockets/libs/ofxLibwebsockets/include
OFX_LWS_LIBS        = $(LIB_CRYPTO) $(LIB_SSL) $(LWS)
OFX_LWS_INCLUDES    = $(SSL_INC) $(OFX_LWS_INCLUDE) $(LWS_INC)

// ofxKinect
OFX_KINECT_HEADERS  = $(TSPS_ADDONS_PATH)/ofxKinect/libs/libusb/osx/include/ $(TSPS_ADDONS_PATH)/ofxKinect/libs/libfreenect/
OFX_KINECT_LIBS     = $(TSPS_ADDONS_PATH)/ofxKinect/libs/libusb/osx/libs/usb-1.0.a

// ofxTuioWrapper
OFX_TUIO_LIBS       = $(TSPS_ADDONS_PATH)/ofxTuioWrapper/src/oscpack/lib/osx/libOsc.a
OFX_TUIO_INC        = $(TSPS_ADDONS_PATH)/ofxTuioWrapper/src/oscpack/include/ip $(TSPS_ADDONS_PATH)/ofxTuioWrapper/src/oscpack/include/osc

//ofxOpenni
OFX_OPENNI_LIBS     = /usr/lib/libOpenNI.dylib

// all addons
OF_ADDON_HEADERS = $(OFX_KINECT_HEADERS) $(OFX_OPENCV_HEADERS) $(OFX_CV_INC) $(OFX_LWS_INCLUDES) $(OFX_OSC_INC) $(OFX_TUIO_INC) $(OFX_TSPS_INC)
OF_ADDON_LIBS = $(OFX_KINECT_LIBS) $(OFX_LWS_LIBS) $(OFX_TUIO_LIBS) $(OFX_OPENNI_LIBS)

HEADER_SEARCH_PATHS = $(OF_CORE_HEADERS) $(OF_ADDON_HEADERS)
OTHER_LDFLAGS = $(OF_CORE_LIBS) $(OF_ADDON_LIBS)